.App {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.App header {
  padding: 2rem;
  grid-column: 1 / 4;
}

.App .left-side {
  grid-column: 1 / 2;
}

.App main {
  grid-column: 2 / 3;
}

.App .right-side {
  grid-column: 3 / 4;
}

.App footer {
  grid-column: 1 / 4;
}


.App header .controls {
  display:flex;
  align-items: flex-start;
}


.App header .controls .group {
  display: inline-block;
  margin: 10px;
}
