.App {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  min-height: 100vh;
}

.App header {
  grid-column: 1 / 4;
}

.App .left-side {
  grid-column: 1 / 2;
}

.App main {
  grid-column: 2 / 3;
  max-width: 100%;
}

.App .right-side {
  grid-column: 3 / 4;
}

.App footer {
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.controls {
  display: block;
  padding: 0 10px;
}

.group {
  display: block;
  padding: 10px;
  margin: 10px auto;
}

.profileTable td {
  text-align: left;
  padding: 5px 10px;
}
.profileTable td:first-child {
  text-align: right;
  font-weight: bold;
}
